body {
    margin: 0;

    background: black;
    color: white;

    font-family: "Sono", monospace;
}

.hiddenFrame {
    display: none;
}

.sidebar {
    position: fixed;

    left: 20px;
    top: 20px;

    width: 350px;
    height: 700px;

    padding: 20px;

    border: 3px white;

    box-sizing: border-box;
}

.sidebar a {
    display: block;

    margin-bottom: 10px;

    color: white;

    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.contentFrame {
    margin-left: 420px;

    width: calc(100% - 420px);
    height: 100vh;

    border: none;

    background: black;
}

.date {
    font-style: italic;
    font-size: 24px;
}

.signature {
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
    color: gray;
}